<main>
  <section class="text-container">
    <div class="title">Welcome to the Carpark</div>
    <div class="text">Are you here to checkin/checkout or to administrate the carpark?</div>
  </section>
  <section class="buttons-container">
    <div class="administrateButton-container">
      <a href="http://localhost:4200/admin"><button class="administrateButton">Administrate</button></a>
    </div>
    <div class="checkincheckoutButton-container">
      <a href="http://localhost:4200/checkincheckout"><button class="checkincheckoutButton">checkin/checkout</button></a>
    </div>
  </section>
</main>
